@import "globals";

.scene {
  position: relative;

  .editor-layout {
    .ed-line {
      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .ed-block {
        float: left;
        height: 100%;

        &.w-1 { width: 10%;}
        &.w-2 { width: 20%;}
        &.w-3 { width: 30%;}
        &.w-4 { width: 40%;}
        &.w-5 { width: 50%;}
        &.w-6 { width: 60%;}
        &.w-7 { width: 70%;}
        &.w-8 { width: 80%;}
        &.w-9 { width: 90%;}
        &.w-10 { width: 100%;}

        &.scrollable {overflow: auto;}
      }
    }
  }

  .field {
    display: block;
    font-size: 0;
    cursor: crosshair;
  }
}
