@import "game";

@mixin cell-level {
  position: relative;
  width:$size-cell; height: $size-cell;
  display: inline-block;

  .bg {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    &.cls-wall_wood,
    &.cls-wall_stone,
    &.cls-wall_brick {
      box-shadow: 0 0 10px rgba(0,0,0,.7);
      z-index: 1;
    }

    &.cls-roof_metal {
      box-shadow: 0 0 32px rgba(255,255,255,0.5);
      z-index: 1;
    }
  }

  .level {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    &-1 {
      opacity: 0.9;
    }
    &-2 {
      opacity: 0.95;
    }
    &-4 {
      opacity: 1;
      z-index: 10;
    }
    &-5 {
      opacity: 0.5;
      z-index: 11;
    }
  }
}

@mixin texture($prefix) {

  // Floor
  &-dirt {
    background: url($prefix + 'assets/batch-1.png') 0 * $size-cell 12 * $size-cell;
  }
  &-water {
    background: url($prefix + 'assets/batch-1.png') 3 * $size-cell 24 * $size-cell;
  }
  &-water_2 {
    background: url($prefix + 'assets/batch-1.png') 19 * $size-cell 13 * $size-cell;
  }
  &-sand {
    background: url($prefix + 'assets/batch-1.png') 5 * $size-cell 25 * $size-cell;
  }
  &-grass {
    background: url($prefix + 'assets/batch-1.png') 12 * $size-cell 28 * $size-cell;
  }
  &-stone {
    background: url($prefix + 'assets/batch-2.png') 22 * $size-cell 1 * $size-cell;
  }
  &-wood {
    background: url($prefix + 'assets/batch-3.png') 15 * $size-cell 9 * $size-cell;
  }

  // Wall
  &-wall_wood {
    background: url($prefix + 'assets/batch-1.png') 28 * $size-cell 22 * $size-cell;
  }
  &-wall_stone {
    background: url($prefix + 'assets/batch-1.png') 18 * $size-cell 17 * $size-cell;
  }
  &-wall_brick {
    background: url($prefix + 'assets/batch-2.png') 25 * $size-cell 5 * $size-cell;
  }

  // Roof
  &-roof_metal {
    background: url($prefix + 'assets/batch-4.png') 10 * $size-cell 30 * $size-cell;
  }

  // Actor
  &-actor_solider_pistol {
    background: url($prefix + 'assets/actor.png') 0 0;
  }

  // Door
  &-door_wood {
    background: url($prefix + 'assets/batch-1.png') 22 * $size-cell 1 * $size-cell;
  }

  // Asset
  &-barrel {
    background: url($prefix + 'assets/batch-2.png') 3 * $size-cell 29 * $size-cell;
  }
  &-bin_closed {
    background: url($prefix + 'assets/batch-1.png') 4 * $size-cell 3 * $size-cell;
  }
  &-bin_opened {
    background: url($prefix + 'assets/batch-2.png') 4 * $size-cell 30 * $size-cell;
  }
  &-box_wood {
    background: url($prefix + 'assets/batch-2.png') 3 * $size-cell 28 * $size-cell;
  }
  &-box_wood_2 {
    background: url($prefix + 'assets/batch-2.png') 16 * $size-cell 9 * $size-cell;
  }
  &-asset_stone_1 {
    background: url($prefix + 'assets/batch-2.png') 25 * $size-cell 19 * $size-cell;
  }

  // Decor
  &-grass_1 {
    background: url($prefix + 'assets/batch-2.png') 18 * $size-cell 26 * $size-cell;
  }
  &-grass_2 {
    background: url($prefix + 'assets/batch-2.png') 17 * $size-cell 26 * $size-cell;
  }
  &-grass_3 {
    background: url($prefix + 'assets/batch-2.png') 18 * $size-cell 25 * $size-cell;
  }
  &-grass_4 {
    background: url($prefix + 'assets/batch-2.png') 17 * $size-cell 25 * $size-cell;
  }
  &-grass_5 {
    background: url($prefix + 'assets/batch-1.png') 17 * $size-cell 27 * $size-cell;
  }
  &-grass_6 {
    background: url($prefix + 'assets/batch-1.png') 16 * $size-cell 27 * $size-cell;
  }
  &-stone_1 {
    background: url($prefix + 'assets/batch-2.png') 24 * $size-cell 20 * $size-cell;
  }
  &-stone_2 {
    background: url($prefix + 'assets/batch-2.png') 23 * $size-cell 20 * $size-cell;
  }
  &-log_1 {
    background: url($prefix + 'assets/batch-2.png') 28 * $size-cell 28 * $size-cell;
  }
}
